/* CUSTOM PROPS */
:root {
  --primary-color:#35b8be;
  --black:#08090a;
  --text-color:#546285;

}
/* GLOBAL STYLES */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing:inherit;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* AUTOFILL-STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* PLACEHOLDER COLOR */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61);
  opacity: 1;
} */


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */
.button {
  display: inline-flex;
  padding: 20px 35px;
  border-radius: 6px;
  background-color: var(--primary-color);
  background-image: url(../img/btn-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.primary-button {
  text-decoration: none;
}


/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */

.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
}



.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 15px;
}

.logo {
  width: 40px;
  height: 51px;
  object-fit: contain;

}
.sitenav {
  margin-left: auto;
  margin-right: 14px;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 20px;
}

.sitenav__link {
  display: block;
  padding: 20px 16px;
  font-size: 16px;
  color: #28224b;
  text-decoration: none;
  opacity: 0.8;
}

.sitenav__link:hover {
  opacity: 0.6;
}

.sitenav__link-active {
  color: var(--primary-color);
}

.site-header__cart {
  position: relative;
  padding: 13px;
  border-radius: 4px;
  background-color: var(--primary-color);
  background-image: url(../img/cart-bg.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  cursor: pointer;
}


.site-header__cart-btn {
  border: 0;
  background-color: transparent;
}

.site-header__cart-btn i {
  color: #fff;
}

.site-header__count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
  color:var(--primary-color);
  font-size: 13px;
  font-weight: bold;

}
.site-header__toggler {
  display: none;
}

/* Modal */
.cart__modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  max-width: 480px;
  height: 100%;
  background-color: #fff;
}

.cart-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.cart-modal__title {
  margin: 0;
  font-size: 28px;
  color: var(--black);
}

.cart-modal__close {
  width: 16px;
  height: 16px;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.cart-modal__body {
  text-align: center;

}

.cart-modal__info {
  display: flex;
  flex-direction: column;
  padding: 200px 0;

}

.cart-modal__text {
  margin: 0;
  font-size: 13px;
  color: #333;
}

.cart-modal__link {
  margin-top: 40px;
  padding: 20px 25px;
  border-radius: 6px;
  background-color: var(--primary-color);
  background-image: url(../img/btn-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.cart-modal__img {
  margin-left: 200px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

/* Modal item */
/* .cart-modal__list-wrapper {
  display: none;
} */
.cart {
  width: 100%;
  max-width: 480px;
  padding: 12px 24px;

}

.cart--active  {
  display: none;
  padding: 0;
}

.cart__item {
  display: flex;
  align-items: center;
}

.cart__item:not(:last-child) {
  margin-bottom: 15px;
}

.cart__item-img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  object-fit: contain;
}

.cart__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;

}
.cart__item-title {
  margin: 0;
  font-size: 15px;
  color: var(--black);
}

.cart__item-price {
  margin: 0;
  font-size: 15px;
  color: #333;

}
.cart__item-remove {
  border: 0;
  color: #ff8946;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}

.cart__input {
  width: 60px;
  padding: 8px 6px 8px 12px;
  margin-bottom: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.price {
  width: 100%;
  max-width: 480px;
  padding: 16px 24px 24px;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.price__subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.price__subtotal-title {
  margin: 0;
  color: #7e828f;
}

.price__subtotal-num {
  margin: 0;
  color: #191b22;
  font-weight: bold;
}

.price__subtotal-btn {
  padding: 15px 15px;
  width: 100%;
  font-size: 15px;
  color: #fff;
  border: 0;
  border-radius: 6px;
  background-color:var(--primary-color);
  cursor: pointer;
}


/* HERO-SECTION */
.hero {
  padding-top: 100px;
  padding-bottom: 140px;

}

.hero__container {
  display: flex;
  align-items: center;
}

.hero__content {
  width: 100%;
  max-width: 600px;
  padding-right: 40px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1;
  color: var(--black);
  letter-spacing: -0.03rem;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
}

.hero__title-brand{
  color: var(--primary-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 18px;
}

.hero__review {
  margin-top: 40px;
}

.hero__review-img {
  width: 110px;
  height: 27px;
  margin-bottom: 16px;
  object-fit: contain;

}

.hero__review-rate {
  font-size: 16px;
  color: var(--primary-color);
}

.hero__review-view {
  font-size: 16px;
  color: var(--black);
}

.hero__img {
  width: 600px;
  height: 580px;
  object-fit: contain;

}

/* ABOUT-US */
.about-us {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: rgb(53, 184, 190, 0.1);
}

.about-us__container {
  display: flex;
  align-items: center;
}

.about-us__content {
  width: 100%;
  max-width: 578px;
  margin-right: 25px;

}

.about-us__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 1;
  color: var(--primary-color);
}

.about-us__text {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.5;
}

.about-us__img {
  width: 523px;
  height: 614px;
  object-fit: contain;
}

/* HOW-IT-WORKS */
.how-it-works {
  padding-top: 120px;
  padding-bottom: 120px;
}


.how-it-works__title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 55px;
  line-height: 1;
  color: var(--primary-color);
  text-align: center;
}

.how-it-works__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.how-ite-works__item {
  position: relative;
  width: 100%;
  max-width: 333px;
  text-align: center;
}

.how-ite-works__item:not(:last-child) {
  margin-right: 100px;
}

.how-ite-works__item:not(:last-child)::after {
  position: absolute;
  top: 150px;
  right: -100px;
  width: 100px;
  height: 1px;
  background-color: red;
  content: "";
}

.how-it-works-img {
  width: 333px;
  height: 267px;
  margin-bottom: 40px;
  object-fit: contain;
}

.how-it-works__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  color: var(--black);
}

.how-it-works__item-text {
  margin: 0;
}

/* OUR-MENU */
.our-menu {
  padding: 140px 0;
  background-color: rgb(53, 184, 190, 0.1);
}

.our-menu__haeder {
  width: 100%;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.our-menu__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 1;
  color: var(--primary-color);
}

.our-menu__text {
  margin-top: 0;
  margin-bottom: 10px;
}

.our-menu__text a {
  color: var(--primary-color);
  text-decoration: none;
}

.our-menu__content {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.our-menu__tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.our-menu__tabs-item:not(:last-child) {
  margin-right: 30px;

}

.our-menu__tabs-btn {
  padding: 18px 45px;
  border: 1px solid rgba(97, 114, 131, 0.2);
  background-color: rgb(53, 184, 190, 0.01);
  border-radius: 6px;
  font-size: 16px;
  cursor:pointer ;
}

.our-menu__tabs-btn--active {
  border: 0;
  border-radius: 6px;
  background-color: var(--primary-color);
  background-image: url(../img/btn-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  cursor:pointer ;
}

.our-menu__tabs-btn--active button {
  color: #fff;
}

.our-menu__list-wrapper {
  display: none;
}

.our-menu__list-wrapper--active {
  display: block;
}

.our-menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.our-menu__item {
  padding: 0 10px;
  margin-bottom: 20px;
  width: 600px;
}

.our-menu__item-wrapper {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(53, 184, 190, 0.15);
  transition: border-color 0.3s ease;
}

.our-menu__item-wrapper:hover {
  border: 1px solid var(--primary-color);
}

.our-menu__link {
  display: block;
  text-decoration: none;
}
.our-menu__img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 6px;
  object-fit: contain;
}

.our-menu__item-info {
  width: 100%;
  max-width: 378px;
}

.item-info__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.item-info__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: var(--primary-color);
}

.item-info__price {
  font-size: 16px;
  color: var(--primary-color);
}

.item-info__descr {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}


.item-info__input {
  width: 60px;
  padding: 8px 6px 8px 12px;
  margin-right: 8px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.item-info__add-btn {
  padding: 9px 15px;
  border: 0;
}

.our-menu__full {
  display: flex;
  justify-content: center;
}



@media only screen and (max-width:1300px) {
  .our-menu__list {
    flex-direction: column;
  }

}



@media only screen and (max-width: 990px) {
  .site-header {
    position: relative;
  }

  .site-header__logo {
    margin-right: auto;
  }

  .site-header__toggler {
    display: block;
    margin-left: 15px;
    padding: 16px 18px;
    border-radius: 4px;
    background-color: rgba(126, 130, 143, 0.1);
    cursor: pointer;
  }

  .site-header__sitenav {
    display: none;
  }

  .site-header--open .site-header__sitenav {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    display: block;
    width: 100%;
    background-color:rgb(0, 0, 0);
    transition: 0.5s all ease;

  }

  .site-header--open .site-header__toggler {
    background-color: var(--primary-color);
    color:#fff;
  }

  .site-header--open .sitenav__link {
    color: #fff;
  }

  .site-header__sitenav .sitenav__list {
    flex-direction: column;


  }

  .site-header__sitenav .sitenav__link {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
  }


  .hero__container {
    flex-direction: column;
    text-align: center;
  }

  .hero__content {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .about-us__container {
    flex-direction: column;
    text-align: center;
  }

  .about-us__content {
    margin-bottom: 50px;
    margin-right: 0;
  }

  .how-it-works__list {
    flex-direction: column;
    text-align: center;
  }

  .how-ite-works__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 150px;
  }


  .how-ite-works__item:not(:last-child)::after {
    left: 50%;
    top: 470px;
    width: 1px;
    height: 100px;
  }


}

@media only screen and (max-width:530px) {
  .site-header__container, .hero__container, .about-us__container, .how-it-works__contrainer {
    padding-left: 20px;
    padding-right: 20px;
  }


  .hero__title {
    font-size: 55px;
  }

  .hero__img {
    width: 100%;
    height: 100%;
  }

  .about-us__img {
    width: 100%;
    height: 100%;
  }


}

@media only screen and (max-width:400px) {
  .hero {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .hero__title {
    font-size: 48px;
  }

  .about-us {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .how-ite-works__item:nth-child(even)::after {
    top: 520px;
  }
}