/* CUSTOM PROPS */
:root {
  --primary-color:#35b8be;
  --black:#08090a;
  --text-color:#546285;

}
/* GLOBAL STYLES */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing:inherit;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Inter', "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* AUTOFILL-STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* PLACEHOLDER COLOR */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61);
  opacity: 1;
} */


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */
.button {
  display: inline-flex;
  padding: 20px 35px;
  border-radius: 6px;
  background-color: var(--primary-color);
  background-image: url(../img/btn-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.primary-button {
  text-decoration: none;
}


.our-menu__next-btn {
  margin-top: 30px;
  border: 0;
}

.our-menu__previous-btn {
  padding: 9px 20px;
  margin-top: 25px;
  border: 1px solid rgba(126, 130, 143, 0.3);
  background-color: #fafafa;
  font-size: 14px;
  color: var(--black);
  cursor: pointer;
}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */

.site-header {
  padding-top: 20px;
  padding-bottom: 20px;
}



.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 15px;
}

.logo {
  width: 40px;
  height: 51px;
  object-fit: contain;

}
.sitenav {
  margin-left: auto;
  margin-right: 14px;
}

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 20px;
}

.sitenav__link {
  display: block;
  padding: 20px 16px;
  font-size: 16px;
  color: #28224b;
  text-decoration: none;
  opacity: 0.8;
}

.sitenav__link:hover {
  opacity: 0.6;
}

.sitenav__link-active {
  color: var(--primary-color);
}

.site-header__cart {
  position: relative;
  padding: 13px;
  border-radius: 4px;
  background-color: var(--primary-color);
  background-image: url(../img/cart-bg.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  cursor: pointer;
}


.site-header__cart-btn {
  border: 0;
  background-color: transparent;
}

.site-header__cart-btn i {
  color: #fff;
}

.site-header__count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
  color:var(--primary-color);
  font-size: 13px;
  font-weight: bold;

}
.site-header__toggler {
  display: none;
}

/* Modal */
.cart__modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  max-width: 480px;
  height: 100%;
  background-color: #fff;
}

.cart-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.cart-modal__title {
  margin: 0;
  font-size: 28px;
  color: var(--black);
}

.cart-modal__close {
  width: 16px;
  height: 16px;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.cart-modal__body {
  text-align: center;

}

.cart-modal__info {
  display: flex;
  flex-direction: column;
  padding: 200px 0;

}

.cart-modal__text {
  margin: 0;
  font-size: 13px;
  color: #333;
}

.cart-modal__link {
  margin-top: 40px;
  padding: 20px 25px;
  border-radius: 6px;
  background-color: var(--primary-color);
  background-image: url(../img/btn-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.cart-modal__img {
  margin-left: 200px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

/* Modal item */
/* .cart-modal__list-wrapper {
  display: none;
} */
.cart {
  width: 100%;
  max-width: 480px;
  padding: 12px 24px;

}

.cart--active  {
  display: none;
  padding: 0;
}

.cart__item {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.cart__item:not(:last-child) {
  margin-bottom: 15px;
}

.cart__item-img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  object-fit: contain;
}

.cart__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;

}
.cart__item-title {
  margin: 0;
  font-size: 15px;
  color: var(--black);
}

.cart__item-price {
  margin: 0;
  font-size: 15px;
  color: #333;

}
.cart__item-remove {
  border: 0;
  color: #ff8946;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
}

.cart__input {
  width: 60px;
  padding: 8px 6px 8px 12px;
  margin-bottom: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.price {
  width: 100%;
  max-width: 480px;
  padding: 16px 24px 24px;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.price__subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.price__subtotal-title {
  margin: 0;
  color: #7e828f;
}

.price__subtotal-num {
  margin: 0;
  color: #191b22;
  font-weight: bold;
}

.price__subtotal-btn {
  padding: 15px 15px;
  width: 100%;
  font-size: 15px;
  color: #fff;
  border: 0;
  border-radius: 6px;
  background-color:var(--primary-color);
  cursor: pointer;
}


/* HERO-SECTION */
.hero {
  padding-top: 100px;
  padding-bottom: 140px;

}

.hero__container {
  display: flex;
  align-items: center;
}

.hero__content {
  width: 100%;
  max-width: 600px;
  padding-right: 40px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1;
  color: var(--black);
  letter-spacing: -0.03rem;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
}

.hero__title-brand{
  color: var(--primary-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 55px;
  font-size: 18px;
}

.hero__review {
  margin-top: 40px;
}

.hero__review-img {
  width: 110px;
  height: 27px;
  margin-bottom: 16px;
  object-fit: contain;

}

.hero__review-rate {
  font-size: 16px;
  color: var(--primary-color);
}

.hero__review-view {
  font-size: 16px;
  color: var(--black);
}

.hero__img {
  width: 600px;
  height: 580px;
  object-fit: contain;

}

/* ORDER-HERO */
.hero-order, .hero-company {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(53, 184, 190, 0.1);
}


.hero-order__container, .hero-company__container {
  display: flex;
  justify-content: center;
  align-items:center;
}

.hero-order__content, .hero-company__content {
  width: 720px;
  margin-bottom: 50px;
  text-align: center;
}

.hero-order__title, .hero-company__title {
  margin: 0;
  font-size: 60px;
  color: var(--black);
  line-height: 1;
}

.hero-order__title-bold, .hero-company__title-bold{
  display: inline-block;
  color: var(--primary-color);
}

/* ABOUT-US */
.about-us {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: rgb(53, 184, 190, 0.1);
}

.about-us__container {
  display: flex;
  align-items: center;
}

.about-us__content {
  width: 100%;
  max-width: 578px;
  margin-right: 25px;

}

.about-us__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 1;
  color: var(--primary-color);
}

.about-us__text {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.5;
}

.about-us__img {
  width: 523px;
  height: 614px;
  object-fit: contain;
}

/* HOW-IT-WORKS */
.how-it-works {
  padding-top: 120px;
  padding-bottom: 120px;
}


.how-it-works__title {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 55px;
  line-height: 1;
  color: var(--primary-color);
  text-align: center;
}

.how-it-works__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.how-ite-works__item {
  position: relative;
  width: 100%;
  max-width: 333px;
  text-align: center;
}

.how-ite-works__item:not(:last-child) {
  margin-right: 100px;
}

.how-ite-works__item:not(:last-child)::after {
  position: absolute;
  top: 150px;
  right: -100px;
  width: 100px;
  height: 1px;
  background-color: red;
  content: "";
}

.how-it-works-img {
  width: 333px;
  height: 267px;
  margin-bottom: 40px;
  object-fit: contain;
}

.how-it-works__item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  color: var(--black);
}

.how-it-works__item-text {
  margin: 0;
}

/* OUR-MENU */
.our-menu {
  padding: 140px 0;
  background-color: rgb(53, 184, 190, 0.1);
}

.our-menu__order {
  background-color: #fff;
}

.our-menu__haeder {
  width: 100%;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.our-menu__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 1;
  color: var(--primary-color);
}

.our-menu__text {
  margin-top: 0;
  margin-bottom: 10px;
}

.our-menu__text a {
  color: var(--primary-color);
  text-decoration: none;
}

.our-menu__content {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.our-menu__tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.our-menu__tabs-item:not(:last-child) {
  margin-right: 30px;

}

.our-menu__tabs-btn {
  padding: 18px 45px;
  border: 1px solid rgba(97, 114, 131, 0.2);
  background-color: rgb(53, 184, 190, 0.01);
  border-radius: 6px;
  font-size: 16px;
  cursor:pointer ;
  white-space: nowrap;
}

.our-menu__tabs-btn--active {
  border: 0;
  border-radius: 6px;
  background-color: var(--primary-color);
  background-image: url(../img/btn-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #fff;
  cursor:pointer ;
}

.our-menu__tabs-btn--active button {
  color: #fff;
}

.our-menu__list-wrapper {
  display: none;
}

.our-menu__list-wrapper--active {
  display: block;
}

.our-menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.our-menu__list-full {
  margin-bottom: 0;
}

.our-menu__full-inner {
  display: none;
}

.our-menu__full-inner--active {
  display: block;
}

.our-menu__item {
  padding: 0 10px;
  margin-bottom: 20px;
  width: 600px;
}

.our-menu__item-wrapper {
  display: flex;
  align-items: center;
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(53, 184, 190, 0.15);
  transition: border-color 0.3s ease;
}

.our-menu__item-wrapper:hover {
  border: 1px solid var(--primary-color);
}

.our-menu__link {
  display: block;
  margin-right: 20px;
  text-decoration: none;
}

.our-menu__img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: contain;
}


.item-info {
  width: 378px;
}

.item-info__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.item-info__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: var(--black);
}

.item-info__price {
  font-size: 16px;
  color: var(--primary-color);
}

.item-info__descr {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
}


.item-info__input {
  width: 60px;
  padding: 8px 6px 8px 12px;
  margin-right: 8px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.item-info__add-btn {
  padding: 9px 15px;
  border: 0;
}

.our-menu__full {
  display: flex;
  justify-content: center;
}


/* CHECKOUT */
.checkout {
  padding: 120px 0;
}

.checkout__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout__img {
  width: 578px;
  height: 586px;
  object-fit: contain;
}


.checkout__content {
  width: 578px;
}

.checkout__content-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 55px;
  line-height: 1;
}

.checkout__content-text {
  margin-top: 0;
  margin-bottom: 40px;
}

/* TAKEAWAY */
.takeaway {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color:rgb(53, 184, 190, 0.1);
}

.takeaway__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.takeaway__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-color);
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
}

.takeaway__text {
  margin-top: 0;
  margin-bottom: 40px;
}

.takeaway__img {
  width: 527px;
  height: 567px;
  object-fit: contain;
}


/* SUPPORT */
.support {
  padding-top: 45px;
  padding-bottom: 45px;
}

.support__container {
  display: flex;
  align-items: center;
}

.support__img {
  width: 600px;
  height: 640px;
  margin-right: 25px;
  object-fit: contain;
}

.support__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 103px 60px;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  background-image: url(../img/cta-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.support__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 55px;
  line-height: 1;
}

.dark-span {
  color: #1b9097;
}

.support__btn {
  background-color: #fff;
  color: var(--primary-color);
  text-decoration: none;

}

/* FOOTER-SECTION */
.site-footer {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: rgb(53, 184, 190, 0.1);

}

.site-footer__inner {
  display: flex;
  align-items: center;
}

.site-footer__logo {
  width: 378px;
  margin-right: 50px;
}

.site-footer__logo-link {
  text-decoration: none;
}

.logo__img {
  width: 40px;
  height: 51px;
  margin-bottom: 25px;
  object-fit: contain;
}

.site-footer__logo-text {
  margin: 0;
}

.site-footer__links {
  display: flex;
  padding-top: 60px;
}

.site-footer__list {
  padding: 0;
  margin: 0;
  width: 189px;
  list-style: none;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.site-footer__item-name {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}

.site-footer__link {
  padding: 8px 6px 8px 0;
  text-decoration: none;
  color: var(--text-color);
}

.site-footer__link:hover {
  opacity: 0.8;
}

.site-footer__line {
  margin-top: 100px;
}


.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.socials__built-by-text {
  margin: 0;
  font-size: 15px;
  color: var(--black);
}

.socials__built-by-text a {
  color: var(--primary-color);
}

.socials__items {
  display: flex;
  align-items: center;
}
.socials__item-link {
  padding: 10px;
  margin:0  12px;
  border: 1px solid rgba(126, 130, 143, 0.3);
  border-radius: 100%;
}

.socials__item-link:hover {
  border: 1px solid rgba(126, 130, 143, 0.8);
}

.socials__item-link i {
  width: 18px;
  height: 17px;
  color: var(--text-color);
}



/* COMPANY SECTION */
.fresh-item {
  padding-top: 120px;
  padding-bottom: 120px;

}

.fresh-item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fresh-item__content {
  width: 578px;
}

.fresh-item__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 1;
  color:var(--primary-color);
}

.fresh-item__text {
  margin-top: 0;
  margin-bottom: 40px;

}

.fresh-item__img {
  width: 578px;
  height: 671px;
  object-fit: contain;
}


.statistic {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../img/cta-img-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;

}


.statistic__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.statistic__item {
  width: 288px;
  text-align: center;
}

.statisric__title {
  margin: 0;
  font-size: 75px;
  color: #fff;

}

.statistic__img {
  width: 84px;
  height: 18px;
  object-fit: contain;
}

.statistic__name {
  margin: 0;
  font-size: 20px;
  color: #fff;
}




@media only screen and (max-width:1300px) {
  .our-menu__list {
    flex-direction: column;
  }

  .our-menu__item {
    width: 100%;
  }

  .item-info {
    width: 100%;
  }


}



@media only screen and (max-width: 990px) {
  .site-header {
    position: relative;
  }

  .site-header__logo {
    margin-right: auto;
  }

  .site-header__toggler {
    display: block;
    margin-left: 15px;
    padding: 16px 18px;
    border-radius: 4px;
    background-color: rgba(126, 130, 143, 0.1);
    cursor: pointer;
  }

  .site-header__sitenav {
    display: none;
  }

  .site-header--open .site-header__sitenav {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100%;
    display: block;
    width: 100%;
    background-color:rgb(0, 0, 0);
    transition: 0.5s all ease;

  }

  .site-header--open .site-header__toggler {
    background-color: var(--primary-color);
    color:#fff;
  }

  .site-header--open .sitenav__link {
    color: #fff;
  }

  .site-header__sitenav .sitenav__list {
    flex-direction: column;


  }

  .site-header__sitenav .sitenav__link {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
  }


  .hero__container {
    flex-direction: column;
    text-align: center;
  }

  .hero__content {
    padding-right: 0;
    margin-bottom: 50px;
  }

  .about-us__container {
    flex-direction: column;
    text-align: center;
  }

  .about-us__content {
    margin-bottom: 50px;
    margin-right: 0;
  }

  .how-it-works__list {
    flex-direction: column;
    text-align: center;
  }

  .how-ite-works__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 150px;
  }


  .how-ite-works__item:not(:last-child)::after {
    left: 50%;
    top: 470px;
    width: 1px;
    height: 100px;
  }

  .checkout__container {
    flex-direction: column;
  }

  .checkout__img-wrapper {
    margin-bottom: 60px;
  }

  .checkout__content {
    text-align: center;
  }

  .takeaway__container {
    flex-direction: column;
  }

  .takeaway__content {
    margin-bottom: 60px;
    text-align: center;
  }

  .support__container {
    flex-direction: column;
  }

  .support__img {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }


  .support__title {
    margin-bottom: 30px;
  }

}


@media only screen and (max-width:767px) {
  .our-menu__link{
    margin-right: 25px;
  }


}

@media only screen and (max-width:630px) {
  .our-menu {
    padding: 100px 20px;
  }

  .checkout {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .checkout__content {
    width: 100%;
  }

  .takeaway {
    padding-top: 100px;
    padding-bottom: 100px;
  }

}

@media only screen and (max-width:600px) {

  .our-menu__tabs {
    display: flex;
    flex-direction: column;
  }
  .our-menu__tabs-item {
    display: block;
  }

  .our-menu__tabs-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .our-menu__tabs-btn {
    display: block;
    width: 100%;
  }

  .our-menu__item-wrapper {
    flex-direction: column;
    padding: 16px;

  }

  .our-menu__link {
    display: flex;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .our-menu__img {
    width: 395px;
    height: 396px;
    margin: 0;
    object-fit: contain;
  }

  .item-info__head {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .item-info__price {
    margin: 0;
  }
}

@media only screen and (max-width:530px) {
  .site-header__container, .hero__container,
  .about-us__container, .how-it-works__contrainer,
  .our-menu__container, .takeaway__container, .support__container{
    padding-left: 20px;
    padding-right: 20px;
  }


  .hero__title {
    font-size: 55px;
  }

  .hero__img {
    width: 100%;
    height: 100%;
  }

  .about-us__img {
    width: 100%;
    height: 100%;
  }

  .our-menu__img {
    width: 100%;
    height: 100%;
  }


  .checkout__img {
    width: 100%;
    height: 100%;
  }

  .checkout__content-title {
    font-size: 48px;
  }

  .takeaway__img {
    width: 100%;
    height: 100%;
  }

}

@media only screen and (max-width:400px) {
  .hero {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .hero__title {
    font-size: 48px;
  }

  .about-us {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .how-ite-works__item:nth-child(even)::after {
    top: 520px;
  }

  .checkout__content-title {
    font-size: 40px;
  }

  .takeaway__title {
    font-size: 48px;
  }

  .support__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width:330px) {
  .item-info__input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}